@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  box-sizing: border-box;
  margin: 0;
}
.bot-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.bot-item {
  padding: 10px;
  border-radius: 5px;
}

.bot-item img {
  background-color: #f0f0f0;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.bot-item h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.bot-item p {
  margin: 5px 0;
  word-break: break-all;
}

.bot-item div {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.delete-btn {
  background-color: red;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}
