@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  box-sizing: border-box;
  margin: 0;
}
.bot-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.bot-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin:1rem;
}

.bot-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.bot-item h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.bot-item p {
  margin: 5px 0;
  word-break: break-all;
}

.bot-item div {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.delete-btn {
  background-color: red;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s ease;
}
.delete-btn:hover{
  background-color: rgba(168, 19, 19, 0.812);
}
.App {
  text-align: center;
}
.army-collection {
  background-color: greenyellow;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  border-radius: 10px;
  min-height: 300px;
  padding: 10px;
  gap: 20px;
}

.army-collection div {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.army-collection img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.army-collection h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.army-collection p {
  word-break: break-all;
  margin-bottom: 10px;
}
.icons {
  display: flex;
  gap: 6px;
  margin-top: 15px;
  margin-left: 20px;
}







